.app_container {
	padding: 5rem 3rem 7rem;
}

.search_container {
	position: relative;
}

.search_button {
	position: absolute;
	top: 0.45rem;
	right: 8.6rem;
}

.text_small {
	color: #73808a;
	margin-top: 3rem;
}

.track_card_list_container {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 4rem;
	margin-top: 2rem;
}